
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    background: url(./hero.jpeg);
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


header{
    height: 250px;
    width: 600px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 2px 0 1px rgb(7, 220, 228);
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.model{
    font-size: 4.5rem;
    font-weight: bold;
    margin-bottom: 29px;
    letter-spacing: 0.1rem;
    font-family: sans-serif;
}

.btn {
    background-color: rgb(63, 175, 240);
    color: white;
    font-size: 0.4rem;
    font-weight: bold;
    border: 1px solid rgb(63, 175, 240); 
    border-radius: 10px;
    height: 35px;
    width: 150px;
    padding: 5px 10px; 
    cursor: pointer;
    text-align: center;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
}

.btn:hover {
    background-color: white;
    color: rgb(63, 175, 240);
    border: 1px solid rgb(63, 175, 240); 
    
}


.modal-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:rgba(73,166,233,0.5);
    display: grid;
    place-items: center;
    transition: visibility 0s, z-index 0s, opacity 0.5s linear;
    visibility:hidden;
    z-index: -10;
}

.modal-overlay.open-modal {
    visibility: visible;
    z-index: 10;
    opacity: 1;
}



.modal-container{
    background: white;
    width: 90vw;
    height: 30vh;
    text-align: center;
    display: grid;
    place-items: center;
    position: relative;
    border-radius: 5px;
}


.btn2{
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    background: transparent;
    border-color: transparent;
    color: black;
    cursor: pointer;
}

.btn2:hover{
    color: rgb(247, 110, 110);
    
}